html, body {
    width: 100%;
}


/*
 ******* Toggle settings *******
 */
.section-title {
    font-size: 25px;
}


/*
 ******* Restore Sessions *******
 */
.json-button {
    font-size: 15px;
}


/*
 ******* Buttons on page *******
 */
.settings-button {
    font-size: 15px;
}

.save-name-input {
    margin : 5px;
    font-size: 15px;
    border-width: 1px;
}


/*
 ******* Page title *******
 */
.title {
    font-size: 30px;
}


/*
 ******* Misc *******
 */
.panel {
    margin: 5px;
}
  
.panel-section-header {
    background-color: rgb(202, 202, 202);
    color: white;
    font-weight: 700;
}