html, body {
    width: 100%;
}


/*
 ******* Toggle settings *******
 */
.toggle-title {
    font-size: 25px;
}


/*
 ******* Restore Sessions *******
 */
.json-button {
    font-size: 15px;
}


/*
 ******* Clear all Sessions *******
 */
.clear-all-button {
    font-size: 15px;
}


/*
 ******* Page title *******
 */
.title {
    font-size: 30px;
}


/*
 ******* Misc *******
 */
.panel {
    margin: 5px;
}
  
.panel-section-header {
    background-color: rgb(202, 202, 202);
    color: white;
    font-weight: 700;
}