html, body {
    width: 350px;
    min-height: 500px;
    max-height: 500px;
    overflow-x: hidden;
}

/* ********************************************************
 * Menu area
 * ********************************************************
*/
.name-menu-div {
  position: relative;
  left: 0px;
  top: 0px;
}

.popup-button {
  background-color: rgb(202, 202, 202);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  transition: background-color 0.3s;
}
.popup-button:hover {
  background-color: rgb(235, 235, 235);
}

.sort-button {
  position: absolute;
}
.rotate-sort {
  transform: rotateZ(90deg);
}
.popup-header {
  position: relative;
  left: 40px;
  font-size: 22px;
  margin: auto;
}

/* ********************************************************
 * Search area
 * ********************************************************
*/
.search-div {
  position: absolute;
  right: 0px;
  margin: auto;
}

.search-bar {
  display: block;
  position: absolute;
  right: 85px;
  width: 0px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: rgb(202, 202, 202);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-button {
  position: absolute;
  right: 50px;
}

.settings-button {
  position: absolute;
  right: 15px;
}

.settings-image {
  position: relative;
  right: 5px;
  top: 1px;
}

/* ********************************************************
 * Expandable sorting options section
 * ********************************************************
*/
.sort-section {
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: rgb(202, 202, 202);
}
.show-sort-section {
  display: block;
}
.sort-title {
  color: white;
  position: relative;
  top: 13px;
  left: 10px;
  font-weight: 500;
  font-size: 17px;
}
.time-recent {
  position: absolute;
  top: 10px;
  left: 90px;
}
.time-old {
  position: absolute;
  top: 10px;
  left: 150px;
}
.alpha-a {
  position: absolute;
  top: 10px;
  left: 210px;
}
.alpha-z {
  position: absolute;
  top: 10px;
  left: 270px;
}
/* ********************************************************
 * Sessions List
 * ********************************************************
*/
.sessions-list {
  padding-left: 5px;
  overflow-y: scroll;
  height: 400px;
  z-index: 1;
  scrollbar-width: none;
}

.sessions-list a {
  display: block;
}

/* ********************************************************
 * Card 
 * ********************************************************
 */
 .card {
  /* Add shadows to create the "card" effect */
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 105px;
  margin-block-start: 20px;
  margin-right: 5px;
  position: relative;
  z-index: 1;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.split-left {
  height: 100%;
  width: 39%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
}
.split-right {
  height: 100%;
  width: 61%;
  position: fixed;
  left: 39%;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 20px;
}
.info-section {
  position: relative;
  left: 0;
  border-right: 1px solid rgb(202, 202, 202);;
  /* box-shadow: 2px 1px 10px -5px rgb(165, 165, 165); */
  z-index: 2;
}
.list-section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/**
 * Info Section
*/
.name-container {
  position: absolute;
  top: -25px;
  left: -10px;
  white-space: nowrap;
  overflow-x: hidden;
  width: 110px;
  margin: 20px;
  text-overflow: ellipsis;
}

.session-link {
  font-size: 16px;
  color: black;
}

.date-container {
  position: relative;
  top: -13px;
  left: 0px;
}

.date-field {
  font-size: 10px;
  color: rgb(116, 116, 116);
}

.open-button {
  position: absolute;
  background-color: white;
  bottom: 3px;
  left: 3px;
  font-size: 12px;
}

.delete-button {
  position: absolute;
  bottom: 3px;
  background-color: white;
  right: 3px;
  font-size: 12px;
}

.options-menu {
  position: relative;
  top: 36px;
  left: 10px;
  width: 7px;
  height: 20px;
  background-image: radial-gradient(circle at center, rgb(116, 116, 116) 2px, transparent 2px);
  background-size: 7px 7px;
  display: inline-block;
  border-radius: 10px;
  transition: background-image .3s;
  transition: background-color .3s;
  z-index: 10;
}

.options-content {
  display: none;
  position: absolute;
  left: 7px;
  background-color: #f1f1f1;
  min-width: 190px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Links inside the dropdown */
.options-content a {
  color: black;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 10px;
  display: block;
  z-index: 3;
}

.options-menu:hover {
  background-color: rgb(116, 116, 116);
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.options-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.options-menu:hover .options-content {display: block;}


/**
 * List Section
*/
.link-list {
  position: relative;
  width: 100%;
  height: inherit;
  top: -20px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.link-elem {
  max-height: 25px;
  margin-top: 10px;
  position: relative;
  left: 20px;
}

.link-icon {
  width: 15px;
  height: 15px;
  position: relative;
  left: -10px;
}

.link-title {
  position: relative;
  max-width: 143px;
  overflow: hidden;
  display: inline-block;
  top: -1px;
  font-size: 10px;
  text-overflow: ellipsis;
}
.link-title:hover {
  border-bottom: .5px solid black;
  cursor: pointer;
}

.delete-tab-wrapper {
  position: relative;
  right: 25px;
  float: right;
  display: none;
}

.delete-tab-button {
  text-align: center;
  background-color: white;
}

.link-elem:hover .delete-tab-wrapper {display: inline-flex;}

.list-bottom-div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

.add-tab-button {
  position: absolute;
  bottom: 0px;
  right:0px;
  width: 15%;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background-color: white;
  border-radius: 0px;
}

.list-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 85%;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background-color: white;
  border-radius: 0px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


/*
 ******* Save session section *******
 */
 .save-session {
  text-align: center;
  display: inline-block;
  position: fixed;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  width:inherit;
  z-index: 5;
}

.name-input {
  margin : 5px;
  font-size: 15px;
  border-color: #2A4F6E;
  border-width: 1px;
}

.save-button {
  background-color: #2A4F6E;
  color: white;
  padding: 5px;
  font-size: 12px;
  border: none;
}

.save-button:hover {background-color: rgb(33, 66, 94);}


/*
 ******* Misc *******
 */
.panel {
  margin: 5px;
}

.panel-section {
  border-bottom: none !important;
}

.panel-section-header {
  background-color: rgb(202, 202, 202);
  color: white;
  font-weight: 700;
}

.mat-button {
  display: block;
  padding: 5;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  transition: background-color .3s;
}
.mat-button:hover, .mat-button:focus {
  background-color: #bdc0bf;
}

.mat-button > * {
  position: relative;
}


.mat-button:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgb(255, 255, 255);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mat-button:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}