html, body {
    width: 350px;
  }
  
  a {
    margin: 10px;
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .open-session {
    padding-left: 10px;
  }

  .open-session a {
    display: block;
  }
  
  .switch-tabs {
    padding-left: 10px;
  }
  
  .switch-tabs a {
    display: block;
  }
  
  .panel {
    margin: 5px;
  }

  .list-button {
    display: inline-block;
    position: absolute;
    right: 5px;
  }